:host {
    flex: 1;
}

.overview__wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex: 1;

    .overview__container{
        display: flex;
        flex-direction: column;
        flex: 2;
        padding: 0 1rem;
    }

    .chatbot__container {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}