@use "colors" as *;
@use "defaults" as *;

:host {
    flex: 1;
}

.issue-list__container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .issue-list__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        padding: .5em .5em .5em 1em;
    }

    .issues__data {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        min-height: 200px;
    }

    .issue-list__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: $border;
        flex: 1;

        .issues__container {
            display: flex;
            flex-direction: column;
            flex: 1;
            background-color: $white-color;

            &.cdk-drop-list-dragging {
                background: rgba(0, 0, 0, 0.02);
                border-radius: 8px;
                transition: background 0.2s ease;
            }
        }
    }
}


::ng-deep {
    .issue-list__body {
        mom-issue-line {

            .issue__line {
                border: 1px solid transparent;
                border-top: $border;
            }

            &:first-child {
                .issue__line {
                    border-top: 1px solid transparent;
                }
            }

            &:last-child {
                .issue__line {
                    border-bottom: $border;
                }

            }

            &.cdk-drag-placeholder {
                /* Placeholder space when dragging */
                opacity: 0.2;
                border: 1px dashed rgba(0, 0, 0, 0.15);
                background: transparent;
            }

            &.cdk-drag-animating {
                transition: transform 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
            }
        }

        mom-create-issue-card {
            .create-issue__card {
                border: 0;
                border-top: $border;
            }
        }
    }
}