<div class="select__input" [class.focused]="isOpen() || !!value()">
    <p class="mom-input__label">{{ label() }}</p>
    <div #trigger tabindex="0" class="select__trigger" (click)="toggleOpen()" (keydown.enter)="toggleOpen()">
        <ng-container #triggerContainer></ng-container>
        @if (!value() || isOpen()) {
        <ng-container>
            <span>{{ placeholder() }}</span>
        </ng-container>
        }
        <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
</div>

@if ( isOpen() ) {
<div class="select-panel" [style.top.px]="panelTop()" [style.left.px]="panelLeft()" [style.width.px]="panelWidth()">
    <ul>
        @for( option of options; track option.value()) {
        <li [class.active]="option.value() === value()" (click)="selectOption(option)">
            <ng-container *ngTemplateOutlet="option.template"></ng-container>
        </li>
        }
    </ul>
</div>
}