<div class="issue__card">
    <div class="issue__header">
        <div class="priority__status" [ngClass]="issue()?.priority | lowercase">{{issue()?.priority | titlecase}}</div>
    </div>
    <div class="issue__body">
        <div>
            <h3>{{issue()?.title | titlecase}}</h3>
            <p>{{issue()?.description}}</p>
        </div>
        <div class="sub-issues__container">
            <div class="sub-issues__header">
                <h4>Subissues</h4>
                <button class="mom-icon__btn" (click)="toggleNeIssueCard()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div class="sub-issues__body">

            </div>
        </div>
    </div>
</div>