@use 'colors' as *;

.main__layout {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: $off-white-color;

    .main__content {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        overflow-x: hidden;

        .side__panel {
            display: flex;
            flex-direction: column;
            width: 0px;
            transition: all 0.3s ease-in-out;

            &.active {
                width: 500px;
            }
        }
    }
}