<div class="swimlane__container">
    <div class="swimlane__header">
        <h3>{{swimlane()?.title | titlecase}}</h3>
        <div class="button__container">
            <button class=mom-icon__btn>
                <mat-icon>sort</mat-icon>
            </button>
            @if (!showNewTaskCard()) {
                <button class=mom-icon__btn (click)="toggleNewTaskCard()">
                    <mat-icon>add</mat-icon>
                </button>
            }
        </div>
    </div>
    <div class="tasks__container"
        [id]="swimlane()?.id ?? 'Swimlane'"
        cdkDropList
        [cdkDropListData]="tasks()"
        [cdkDropListConnectedTo]="connectedTo()"
        (cdkDropListDropped)="drop($event)"
        >
        @if (showNewTaskCard()) {
            <mom-swimlane-create-task-card (close)="toggleNewTaskCard()"></mom-swimlane-create-task-card>
        }
        
        @for (task of tasks(); track $index ) {
            <mom-task-card 
                [task]="task" 
                [class.last]="$index == $count - 1"
                cdkDrag>
            </mom-task-card>
        }
    </div>
</div>