<div class="project__container">
    <div class="project__toolbar">
        <div class="title__container">
            <mom-project-name-editor [project]="project()" (nameChange)="nameChange($event)"></mom-project-name-editor>
            <div class="progress">
                <div class="progress-bar" [style.width.%]="completionPercentage()"></div>
            </div>
        </div>
        @if(!assistMode()) {
        <button matMiniFab color="primary" (click)="toggleAssistMode()" matTooltip="Assistant Mode">
            <mat-icon>chat</mat-icon>
        </button>
        }
    </div>
    <div class="project__content">
        <router-outlet></router-outlet>
    </div>
</div>